<div>
    {{#each this}}
    <section>
        <div>
            on {{created_at}} {{user.pseudonym}} said...
        </div>
        
        <div>
            {{comment_input}}
        </div>
    </section>
    {{/each}}
</div>