<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>In The Know</title>
    </head>
    <body>
        <div>
            <header>
                <h1><a href="/">In The Know</a></h1>
                <nav>
                    <div>
                        <a href="/dashboard">Dashboard</a>
                        <button id="signOut">Sign Out</button>
                        <a href="/sign-in">Sign In</a>
                    </div>
                </nav>
            </header>
            <main>
            {{! BODY INFO handlebar goes here}}
            </main>
            <footer>
                <h2>Made by the In-The-Know Dev Team</h2>
                <div>
                    &copy; 2022 In The Know, Inc.
                </div>
            </footer>
        </div>
    {{#if signedIn}}
    <script>src="/javascript/sign-out.js"</script>
    {{/if}}
    </body>
</html>