<section>
  <h2>Create New review</h2>

  <form class="newPost">
    <div>
        <label>Your Feed:</label>
        <input type="text"/>
    </div>
    <div>
        <label ="post-name">Post:</label>
        <input type="text">
    </div>
    <button type="submit" class="btn">Post</button>
  </form>
</section>

<script src="/javascript/create-post.js"></script>