<div>  
    <form class="formSignIn">
        <h1>Sign In:</h1>
        <div>
            <label for="user-email">E-mail:</label>
            <input type="text" id="user-email"/>
        </div>
        <div>
            <label for="user-password">Password:</label>
            <input type="password" id="user-password"/>
        </div>
        <div>
            <button type="submit">Sign In</button>
        </div>
    </form>
</div>     

<div>
    <form class="formSignUp">
        <h1>Don't have an account with us yet? Sign Up Here!</h1>
        <div>
            <label for="pseudonym-signup">Pseudonym:</label>
            <input type="text" id="pseudonym-signup"/>
        </div>
        <div>
            <label for="email-signup">E-mail:</label>
            <input type="text" id="email-signup"/>
        </div>
        <div>
            <label for="password-signup">Strong Password:</label>
            <input type="password" id="password-signup"/>
        </div>
        <div>
            <button type="submit">Sign Up</button>
        </div>
    </form>
</div>


<script src="/javascript/sign-in.js"></script>
<script src="/javascript/sign-up.js"></script>