<div class="sign-in">
    <form class="formSignIn">
    <h1>Sign In:</h1>
        <div>
            <label for="user-email">E-mail:</label>
            <input type="text"/>
        </div>
        <div>
            <label for="user-password">Password:</label>
            <input type="password"/>
        </div>
        <div>
            <button type="submit">Sign In</button>
        </div>
    </form>
</div>


<script src="/public/javascript/sign-in.js"></script>