<article>
    <div>
        <h1>{{post.name}}</h1>
    </div>
    <div>
        Created by: {{post.user.pseudonym}} on
        {{created_at}}
        |
        {{post.comments.length}} comments:
    </div>
</article>